
.slide1,
.slide2,
.slide3{
text-align: center;
height: 600px;
bottom:600px;
background:white;
}
.logo{
    margin: 0 auto 0 auto;
    display: block;
    padding-top: 10px;
    width: 100%
}

p{
	font-size: 30px;
}

#myRange.slider{
	width: 75%;
	margin: 0 auto 0 auto;
	display: block;

}
#info-text{
    padding-top: 25px;
    font-size: 15px;
    padding-bottom: 25px;
}
#tickmarks{
    display:none;
}
#header-text{
    padding-top: 25px;
    font-size: 200%;
    text-decoration: underline;
    text-decoration-color:#ffcd00;
    
}
    
